/* BEGINS: ESSENTIAL CSS */

html, body {
    height: 100%;
}

#main {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}

.slide .bottom_content {
    position: absolute;
    bottom: 0;
}

.slide .background_image {
    width: 100%;
    position: absolute;
    z-index: 0;
}


#selectors {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 3;
    margin-top: -72px;
}

#selectors li {
    cursor: pointer;
}

#selectors li.selected {
    color: #999;
}

/* ENDS: ESSENTIAL CSS */





/* BEGINS: DEMO CSS */
/*
You can delete everything from here to the bottom
if you wish to start with a clean slate
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.slide .bottom_content {
    left: 20px;
    right: 20px;
    bottom: 40px;
    width: 1000px;
    margin: 0 auto;
}

#selectors ol {
    list-style: none;
    text-align: right;
    line-height: 1.5em;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    color: #
}

p {
    line-height: 1.45em;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #666;
}

/* ENDS: DEMO CSS */
